body {
    background: rgb(0, 0, 0);
    background: linear-gradient(76deg, rgba(0, 0, 0, 1) 0%, rgba(180, 180, 180, 1) 79%, rgba(0, 0, 0, 1) 100%);
}

img {
    width: 80%;
    height: auto;
    position: relative;
    /* border-radius: 10px; */
}

h2 {
    padding: 10px;
    margin: 0 auto;
}

h4 {
    text-align: center;
    color: white;
}

h6 {
    color: rgba(255, 255, 255, .5);
}

a {
    color: #7abaff;
}

a:hover {
    text-decoration: none;
}

.avatar {
    width: 100%;
}

.about {
    background-color: #ffffff4d;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    color: #3e0070;
}

.about__info {
    padding: 30px;
}

.post {
    color: rgb(193 156 210);
}

.job__info {
    margin-top: 10px;
    padding: 30px;
}

div.cv {
    color: white;
    background-color: rgba(0, 0, 0, 0.333);
    box-shadow: 0.4em 0.4em 5px rgba(0, 0, 0, 0.253);
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    position: relative;
    z-index: 1;
}

div.prj {
    color: white;
    background-color: #3e007075;
    box-shadow: 0.4em 0.4em 5px rgba(0, 0, 0, 0.253);
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

.ml {
    margin-left: 50px;
}

.show__left {
    animation: showLeft 1.5s;
}

.show__right {
    animation: showRight 1.5s;
}

.footer {
    width: 100%;
    height: 100px;
}

.social__icon {
    width: 25px;
    height: auto;
}

.page-footer {
    color: rgba(255, 255, 255, .5);
}

.link {
    height: 40px;
    margin-top: 10px;
}

.capture {
    margin-left: 1rem;
}

.page-footer {
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.333);
    box-shadow: 0.4em 0.4em 5px rgba(0, 0, 0, 0.253);
}

hr {
    border-top: 1px solid rgb(100 100 100);
}

.back_to_top {
    position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 9999;
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: rgb(253, 253, 253);
    cursor: pointer;
    border-radius: 5px;
    visibility: hidden;
    transition: 1s ease all;
    opacity: 0;
    transition: opacity 1s, visibility 0s;
}

.brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
}


.brand-img {
    max-width: 100%;
    max-height: 100%;
}

.back_to_top:hover {
    opacity: 1;
}

.back_to_top-show {
    display: block;
}

@keyframes showLeft {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}

@keyframes showRight {
    from {
        right: -100%;
    }

    to {
        right: 0;
    }
}


.title {
    font-size: 15px;
    white-space: nowrap;
    animation: show 0.35s forwards ease-in-out 0.5s;
    overflow: hidden;
}

.progress-bar {
    width: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 26px;
    background-color: rgb(252 109 38 / 69%);
    color: transparent;
}

.progress-bar__active {
    color: white;
    box-shadow: 0.4em 0.4em 5px rgba(0, 0, 0, 0.253);
    border-radius: 0px 0px 8px 8px;
    animation: progress 1.5s ease-in-out forwards;
    padding-left: 15px;
}

.progress-bar.purple {
    background-color: #3e007075;
}

@keyframes progress {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes show {
    from {
        align-items: flex-start;
    }
    
    to {
        align-items: unset;
    }
}


@media (max-width: 576px) {

    .about {
        padding: 15px 15px 40px 15px;
        min-height: calc(100dvh - 70px);
        border-radius: 0;
    }

    .about__info {
        padding: 10px;
    }


    h1 {
        font-size: 26px;
    }

    h5 {
        font-size: 16px;
    }

    .avatar {
        width: unset;
        max-width: 100%;
        max-width: 100%;
    }

    .header {
        min-height: 70px;
    }

}